<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/output.css">
    <title>Lê Parfum</title>
</head>

<body>
    <header class="fixed top-0 left-0 w-full z-50 backdrop-blur-sm transition-all duration-300">
        <nav
            class="bg-linear-to-b from-stone-50 via-amber-50/20 to-stone-200  border-stone-200 h-16 lg:h-36 items-center ">
            <div class="flex lg:justify-center items-center">
                <div class="text-xl text-stone-600 ml-4">
                    <a href="index.html" class="flex flex-col items-center gap-2 text-center ">
                        <img src="/assets/Logo-LeParfum.png" alt="Logo-LeParfum" class="hidden lg:block md:w-24 pt-2">
                        <span class="hidden lg:block lg:text-2xl mea-culpa-regular">Perfumaria Fina Artesanal</span>
                        <span class="lg:hidden w-16 pt-0.5"><img src="/assets/Logo-LeParfum.png" alt="Logo-LeParfum"></span>
                    </a>
                </div>
                <button id="btn-menu-mobile"
                    class="lg:hidden ml-auto mr-4 text-stone-600 focus:outline-none z-50 active:scale-85 transition-transform duration-100">
                    <svg class="w-8 h-8 pointer-events-none" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path id="icone-hamburguer" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                        <path id="icone-x" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" class="hidden transition-all duration-300"></path>
                    </svg>
                </button>
                <ul class="hidden lg:flex gap-5 justify-center ml-20 tracking-wide">
                    <li
                        class="text-stone-600 text-md hover:text-gray-700 font-medium border border-stone-700 rounded-lg  bg-gray-50 hover:bg-stone-200 transition-all transform hover:-translate-y-0.5 px-4 py-2">
                        <a href="index.html">Início</a>
                    </li>
                    <li
                        class="text-stone-600 text-md hover:text-gray-700 font-medium border border-stone-700 rounded-lg  bg-gray-50 hover:bg-stone-200 transition-all transform hover:-translate-y-0.5 px-4 py-2">
                        <a href="#Fragrâncias">Fragrâncias</a>
                    </li>
                    <li
                        class="text-stone-600 text-md hover:text-gray-700 font-medium border border-stone-700 rounded-lg  bg-gray-50 hover:bg-stone-200 transition-all transform hover:-translate-y-0.5 px-4 py-2">
                        <a href="#Corporal">Corporal</a>
                    </li>
                    <li
                        class="text-stone-600 text-md hover:text-gray-700 font-medium border border-stone-700 rounded-lg  bg-gray-50 hover:bg-stone-200 transition-all transform hover:-translate-y-0.5 px-4 py-2">
                        <a href="#Hair">Hair</a>
                    </li>
                    <li
                        class="text-stone-600 text-md hover:text-gray-700 font-medium border border-stone-700 rounded-lg  bg-gray-50 hover:bg-stone-200 transition-all transform hover:-translate-y-0.5 px-4 py-2">
                        <a href="#Home">Home</a>
                    </li>
                    <li
                        class="text-stone-600 text-md hover:text-gray-700 font-medium border border-stone-700 rounded-lg  bg-gray-50 hover:bg-stone-200 transition-all transform hover:-translate-y-0.5 px-4 py-2">
                        <a href="#Carro">Carro</a>
                    </li>
                    <li
                        class="text-stone-600 text-md hover:text-gray-700 font-medium border border-stone-700 rounded-lg  bg-gray-50 hover:bg-stone-200 transition-all transform hover:-translate-y-0.5 px-4 py-2">
                        <a href="#Contato">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section id="menu-mobile">
            <div id="menu-flutuante"
                class="fixed top-16 left-0 w-full h-[calc(100vh-4rem)] bg-stone-50/95 backdrop-blur-md border-t border-stone-200 z-40  transition-transform duration-300 translate-x-full lg:hidden">
                <ul class="flex flex-col gap-4 p-6 text-center text-lg font-medium text-stone-600">
                    <li class="border-b border-stone-200 pb-2">
                        <a href="">Início</a>
                    </li>
                    <li class="border-b border-stone-200 pb-2">
                        <a href="">Fragrâncias</a>
                    </li>
                    <li class="border-b border-stone-200 pb-2">
                        <a href="">Corporal</a>
                    </li>
                    <li class="border-b border-stone-200 pb-2">
                        <a href="">Hair</a>
                    </li>
                    <li class="border-b border-stone-200 pb-2">
                        <a href="">Home</a>
                    </li>
                    <li class="border-b border-stone-200 pb-2">
                        <a href="">Carro</a>
                    </li>
                    <li class="border-b border-stone-200 pb-2">
                        <a href="">Contato</a>
                    </li>
                </ul>
            </div>
        </section>
    </header>
</body>

</html>